.todo-list-home {
    width: 80vw;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    overflow-y: auto;
}

header {
    text-align: left;
    position: fixed; 
    top: 0; 
    width: 80vw; 
    z-index: 1000;
    background-color: #ffffff;
}

main {
    padding-top: 80px; 
    position: relative; 
    z-index: 1; 
    background-color: #ffffff;
}

header h1 {
    margin-bottom: 10px;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 30px; 
}

section {
    margin-bottom: 40px;
}

.section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: underline;
}